@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body{
  padding:0;
}

.container{
  padding:0;
}
.container-infographic{
  position:relative;
  border: 3px solid red;
  height: 871px;
  width: 490px;
  margin:auto;
}

.infographic{
  border:  3px solid black;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 0px;
  padding-left: 10px;

}

.logo{
  border: 3px solid red;
  height: 46px;
  width: 36px;
  position: absolute;
  top: 26px;
  right: 23px;
}

.sumber{
  border: 3px solid red;
  height: 46px;
  width: 125px;
  position: absolute;
  top: 26px;
  right: 70px;
}

p{
  font-family:lato;
}

p.textsumber{
  font-family: lato;
  font-size: 12px;
  text-align: right;
  color: black;
  margin-top: 0;
}

h1{
  font-family: Oswald;
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.xAxisStyle line{
  stroke: #D3D3D3;
  stroke-dasharray:2;
}

.xAxisStyle path{
  stroke: none;
}

.xAxisStyle text{
  fill: red;
}

#popUpTextBang {
  border: solid;
  width: 300px;
  word-break: break-word;
}

#popUp {
  position : relative;
  border-radius: 5px;
  border: black solid;
  width: 100px;
  height: 50px;
  background-color: white;
  top: 100px;
  visibility: hidden;
}


@media only screen and (max-width:375px) {
  /* For mobile phones: */
  .container-infographic{
    width:100%;
    height:100%;
  }
  h1{
    font-size: 24px;
  }
  p.textsumber{
    font-size: 10px;
  }
}

@media only screen and (max-width:414px) {
  /* For mobile phones: */
  .container-infographic{
    width:100%;
    height:100%;
  }
  h1{
    font-size: 24px;
  }
  p.textsumber{
    font-size: 10px;
  }
}

@media only screen and (max-width:768px) {
  /* For mobile phones: */
  .container-infographic{
    width:100%;
    height:100%;
  }
}
