@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.overlay{
  opacity:0.98;
  background-color:#444;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.transform{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}

.transform-active {
  top:-1000px;
  z-index:-1;
}

body{
  background-color: yellow;
  margin:auto;
}

.overall-container{
  position:relative;

  width:1280px;
  margin:auto;
}

.option-container{
  position:relative;
  top: 20px;
  left: 20px;
  width: 180px;
}

.option-container-middle{
  position:relative;
  top:150px;
  width:180px;
  margin:auto;
}

.option-container-middle h4{
  color:white;
}

.infographic{
  position: relative;
  margin: auto;
}

.h4{
  font-weight: 600;
}

#family-image-container{
  width:180px;
  height:180px;
  background-color: lightgrey;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  position:absolute;
  top:20px;
  left:220px;
  border-radius: 180px;
  transition: 1s;
}

.data-container{
  width:500px;
  height:180px;

  position:absolute;
  top:50px;
  left:405px;
}

.header-kabkot{
  position: relative;
  left: 5px;
  top: 5px;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 20px;
}

table{
  width:100%;
}

table, th, tr, td {
  position: relative;
  top:8px;
  left: 2px;
  font-family: 'Source Sans Pro';
  font-size: 28px;
  font-weight:500;
  line-height:90%;
}

th.tipe-data{
  font-size: 15px;
  line-height: 100%;
  font-weight:300;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 100px;
    max-width: 200px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#legend-container{
  fill:white;
  opacity:0.9;
  stroke:grey;
  stroke-width:2;
}

/*.container-infographic{
  position:relative;
  border: 3px solid red;
  height: 871px;
  width: 490px;
}

.infographic{
  border:  3px solid red;
  height: 860px;
  width: 480px;
  margin: auto;
  padding-top: 0px;
  padding-left: 10px;
}

.logo{
  border: 3px solid red;
  height: 46px;
  width: 36px;
  position: absolute;
  top: 26px;
  right: 23px;
}

.sumber{
  border: 3px solid red;
  height: 46px;
  width: 125px;
  position: absolute;
  top: 26px;
  right: 70px;
}

p{
  font-family:lato;
}

p.textsumber{
  font-family: lato;
  font-size: 12px;
  text-align: right;
  color: black;
  margin-top: 0;
}

h1{
  font-family: Oswald;
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.xAxisStyle line{
  stroke: #D3D3D3;
  stroke-dasharray:2;
}

.xAxisStyle path{
  stroke: none;
}

.xAxisStyle text{
  fill: red;
}

#popUpTextBang {
  border: solid;
  width: 300px;
  word-break: break-word;
}

#popUp {
  position : relative;
  border-radius: 5px;
  border: black solid;
  width: 100px;
  height: 50px;
  background-color: white;
  top: 100px;
  visibility: hidden;
}
