body {
  background-color: #262626;
}

h1{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 900;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  font-size: 13px;
}

table {
  width:100%;
}

p {
  margin-top: 0;
}

h4{
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: 900;
}

.container {
  width: 478px;
  height: 850px;
  margin: auto;
  padding-top: 10px;
  background-color: #262626;
}

.top-container {
  position: relative;
  width: 95%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 132px;
  background-color: #262626;
}

.title {
  position:absolute;
  left: 10px;
  top: 8px;
  width: 100%;
  height: 100px;
  color:white;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 32pt;
  line-height: 1em;
}

.source {
  position:absolute;
  right: 50px;
  top: 16px;
  width: 125px;
  height: 46px;
  color: white;
  font-size: 9pt;
  text-align: right;
  font-family: "Lato",sans-serif;
}

.logo {
  position:absolute;
  right: 0px;
  top: 16px;
  width: 36px;
  height: 46px;
}

.middle-container {
  width: 95%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.bottom-container {
  position:relative;
  width: 95%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 465px;
  background-color: #262626;
}


.node {
  z-index: 10;
}

.text {
  font-family: sans-serif;
}

.form-left {
  position:absolute;
  top: 0;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 9pt;
}

.form-right {
  position:absolute;
  top: 0;
  right: 0px
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 9pt;
}
